# Ignore environment variable files
.env
.env.example

# Ignore service account key file
service.json

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/
.venv/

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db